<%-include("../includes/header")%>
<h1><%=board.name%></h1>
<form action="/task" class="task-form" method="POST">
  <input type="text" name="task" placeholder="Task" autocomplete="off" />
  <input type="hidden" name="boardId" value="<%=board.id%>" />
  <button type="submit">Add</button>
</form>

<div class="task">
  <ul>
    <%board.tasks.forEach(item=>{ %>
    <div class="task-wrapper">
      <li><%=item.task%></li>
      <div class="utility">
        <a href="/task/delete/<%=item.id%>">Done</a>
      </div>
    </div>
    <% })%>
  </ul>
</div>
<!---->
<%-include("../includes/footer")%>
