<%-include("../includes/header")%>
<!---->
<%-include("../includes/nav")%>
<h1><%=board.name%></h1>
<form
  action="/task"
  class="task-form"
  method="POST"
  onsubmit="checkBeforeSubmit()"
>
  <input
    type="text"
    name="task"
    placeholder="Task"
    required="true"
    autocomplete="off"
  />
  <input type="hidden" name="boardId" value="<%=board.id%>" />
  <button type="submit">Add</button>
</form>

<div class="task">
  <ul>
    <%board.tasks.forEach(item=>{ %>

    <div class="task-wrapper">
      <li><%=item.task%></li>
      <div class="utility">
        <a href="/task/delete/<%=item.id%>">Done</a>
      </div>
    </div>
    <% })%>
  </ul>
</div>
<script type="text/javascript">
  var wasSubmitted = false;
  function checkBeforeSubmit() {
    if (!wasSubmitted) {
      wasSubmitted = true;
      return wasSubmitted;
    }
    return false;
  }
</script>
<%-include("../includes/footer")%>
